*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #063d1e, #1a5c37);
}

#prim{
    padding-left: 15px;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow:  2px 2px 0px rgba(0, 0, 0, 0.575);
    padding-top: 20px;
}

nav{
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.356);
}

nav ul{
    display: flex;
    flex: 1;
}

nav li{
    list-style: none;
    margin: .6rem;
}

a{
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

h2{
    margin-top: 50px;
    padding-left: 15px;
    color: #063d1e;
    font-weight: bold;
    font-size: 1.8rem;
}

.cardv{
    display: inline-block;
    flex-direction: column;
    background-color: #1a5c37;
    width: 220px;
    border-radius: 6px;
    margin: .8rem;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.cardv img{
    border-radius: 6px;
    width: 220px;
}

.cardv p{
    padding-top: 5px;
}